*{
	margin:0 auto;
	 box-sizing: border-box;
}
h1{
	font-size: 2.3rem;
}
strong{ 
	font-size: 1.6rem;
 }

.xinxi{
width:100%;
height:2rem;
} 
.xinxi p,.lianxi p{
	width: 25%;
	margin-right:2%;
}

.left{

 	 float:left;

 
 }
.clearfix:after {content:"."; 
  display:block;
  height:0; 
  visibility:hidden;
   clear:both; }