* {
margin:0 auto;
}
ul li{
list-style: none;
} 
ul {
display: flex;
flex-flow: row wrap;
}
.hander{

	background-color: black;
	color:white;
	

}
.hander div{display: flex;
	flex-flow: row wrap;}
h3{
	margin:30px;

}
a{
color:white;
}

.hander ul li:nth-of-type(1) {
margin-right: 10px;
}
.hander ul li:nth-of-type(2) {
margin-right: 10px;
}
.hander>div{
		width:960px;
		margin:0 auto;
		text-align: center
}

.Banner{


	height:255px;
	background-color: green;
	position: relative;

}

.Banner ul{
	position:absolute;
	right:160px;
	bottom:5px;
}
.Banner ul li{

	width:20px;
	height:25px;
	border:solid black 1px ;
	padding: 1px;
	margin:3px;
	background-color: white;
	text-align: center;
	line-height: :100%;
}
.Banner ul li:nth-of-type(2) {
padding-top: 15px;
position: relative;
bottom:15px;
}

.bnav nav{
	
width:960px;
}
hr{
	height: 1px;
	border:none;
	background-color: lightgray;
}

.bnav nav ul li{

	border:solid gray 1px  ;
border-radius:13px 13px 0px 0px;
	margin: 13px 0px 0px 0px;
	padding:7px 15px 7px 15px;
	background-color: lightgray;
	border-bottom: 1px solid lightgray;
	text-align: center;
	line-height: :100%;
}

.bnav nav ul li:nth-of-type(1) {
	background-color: white;
		border-bottom:solid white 1px  ;
}
.con{
	width: 960px;
	display:flex;
	flex-flow: column wrap;
}
.con article{
		display:flex;
		flex-flow: row wrap;
		margin:10px 0 10px 0;
}
.con article:nth-of-type(2){
		
		margin:0;
}
.con div{
	border:1px solid lightgray;
	padding: 80px;
	margin:0px 10px 0px 0px;

	flex:1;
}

.footer{
	
	height:120px;
	background-color: gray;

}
.footer p{
	padding-top:0.8rem;
	color:white;
	text-align: center;
line-height: 100%;

}